* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  text-decoration: none;
  color: #fff;
  font-family: $palanquin;
}

img {
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-color: $primary;
}
